Options -Indexes

RewriteEngine On

# Redireciona tudo para index.php (exceto arquivos e pastas que existem)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]
